{% load static %}

<header class="page-layout__header">
    <nav class="navigation">
        <div class="navigation__logo">
            <a href="{% url 'home' %}">ONLINELIB</a>
        </div>
        <div class="navigation__menu">
            <nav class="menu">
                {% for item in menu %}
                    <div class="menu__tab">
                        <a class="menu__item" href="{% url item.url_name %}">{{ item.title }}</a>
                    </div>
                {% endfor %}
            </nav>
        </div>
        <div class="navigation__search">
            <a class="menu__item" href="{% url 'search' %}">Поиск</a>
        </div>
    </nav>
</header>