{% load static %}

<header class="page-layout__header">
    <nav class="navigation">
        <div class="navigation__logo">
            <a href="{% url 'home' %}">ONLINELIB</a>
        </div>
        <div class="navigation__menu">
            <nav class="menu">
                {% for item in main_menu %}
                    <span class="menu__tab">
                        <a class="menu__item" href="{% url item.url_name %}">{{ item.title }}</a>
                    </span>
                {% endfor %}
            </nav>
        </div>
        <div class="navigation__search">
            <a class="menu__item" href="{% url 'search' %}">
                {% include "includes/icons/icons8-поиск-50.svg" %}
            </a>
        </div>
        <div class="navigation__user">
            {% if user.is_authenticated %}
                {{ user.username }} |
                <form style="display: inline-block" method="POST" action="{% url 'users:logout' %}">
                    {% csrf_token %}
                    <button class="exit-button" type="submit">Выйти</button>
                </form>
            {% else %}
                <a class="menu__tab" href="{% url 'users:login' %}">Войти</a> |
                <a class="menu__tab" href="{% url 'users:register' %}">Регистрация</a>
            {% endif %}
        </div>
    </nav>
</header>