{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}

{% block title %}Каталог{% endblock title %}

{% block style %}
<link type="text/css" href="{% static 'genre/css/genre_home_style.css' %}" rel="stylesheet">
{% endblock style %}

{% block content %}
<div class="genres-layout">
    <div class="genres">
        {% recursetree genres %}
        {% if node.hierarchy == "root" %}
        <div class="genre-tile">
            <h2 class="genre-root">
                <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
            </h2>
            <div class="genre-root__content">
                {{ children }}
            </div>
        </div>
        {% elif node.hierarchy == "group" %}
        <p class="genre-group">{{ node.name }}</p>
        <div class="genre-group__content">
            {{ children }}
        </div>
        {% elif node.hierarchy == "general" %}
        <p class="genre-general">
            <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
        </p>
        {% endif %}
        {% endrecursetree %}
    </div>
</div>
{% endblock content %}