@font-face {
    font-family: "AA Stetica";
    src: url("../fonts/AA Stetica Light.otf") format('opentype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "AA Stetica";
    src: url("../fonts/AA Stetica Light Italic.otf") format('opentype');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "AA Stetica";
    src: url("../fonts/AA Stetica Regular.otf") format('opentype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "AA Stetica";
    src: url("../fonts/AA Stetica Italic.otf") format('opentype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "AA Stetica";
    src: url("../fonts/AA Stetica Medium.otf") format('opentype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "AA Stetica";
    src: url("../fonts/AA Stetica Medium Italic.otf") format('opentype');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "AA Stetica";
    src: url("../fonts/AA Stetica Bold.otf") format('opentype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "AA Stetica";
    src: url("../fonts/AA Stetica Bold Italic.otf") format('opentype');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "AA Stetica";
    src: url("../fonts/AA Stetica Black_0.otf") format('opentype');
    font-style: normal;
    font-weight: 900;
}