.body-layout {
    margin: 1em;
    display: grid;
    grid-template-areas: "sidebar body";
    grid-template-columns: min-content 1fr;
}

.side-panel{
    grid-area: sidebar;
    position: static;
}

.side-panel form>div {
    margin: 1em 0;
}

.genre-check, .tag-check, .author-check {
    height: 9em;
    overflow-y: auto;
    overflow-x: hidden;
}

.genre-check input, .tag-check input, .author-check input {
    height: min-content;
}

.filter-submit-button {
    width: 100%;
    height: 2em;
    margin: 1em 0;
    background-color: #407A55;
    color: white;
    border-radius: 1em;
    padding: 0;
    border: 0;
}

.books-list {
    margin: 1em 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: min-content;
}

.book-card {
    margin: 1em ;
}

.book-card__cover-image {
    width: 12em;
}

.book-card__titles {

}

.title {
    margin: 0 0;
}

.original-title {
    font-size: 0.75em;
    color: grey;
    margin: 0 0;
}