.body-layout {
    margin: 1em;
    display: grid;
    grid-template-areas: "sidebar body";
    grid-template-columns: min-content 1fr;
}

.side-panel{
    grid-area: sidebar;
    position: static;
}

.side-panel form>div {
    margin: 1em 0;
}

.genre-check, .tag-check, .author-check {
    height: 9em;
    overflow-y: auto;
    overflow-x: hidden;
}

.genre-check input, .tag-check input, .author-check input {
    height: min-content;
}

.filter-submit-button {
    width: 100%;
    height: 2em;
    margin: 1em 0;
    background-color: #407A55;
    color: white;
    border-radius: 1em;
    padding: 0;
    border: 0;
}

.books {
    width: 100%;
    margin: 1em;
    border-collapse: collapse;
    text-align: center;
}

.books th {
    padding: 0.5em;
    background-color: lightblue;
}

.books td {
    padding: 0.5em;
}

.books tbody tr:nth-child(odd) {
    background-color: white;
}

.books tbody tr:nth-child(even) {
    background-color: lightblue;
}