{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block style %}
    <link type="text/css" href="{% static 'css/navigation_style.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'author/css/author_home_style.css' %}" rel="stylesheet">
{% endblock style %}

{% block content %}
{% include 'includes/icons/icons8-удалить-50-2.svg' %}
{% include 'includes/icons/icons8-плюс-50.svg' %}
{% include 'includes/icons/icons8-редактировать-50.svg' %}

<div class="authors-layout">
    <div class="authors-list">
    {% if user.is_authenticated %}
        <div class="author-card add-author-card">
            <a href="{% url 'add-author' %}">
                <svg><use href="#plus"></use></svg>
            </a>
        </div>
    {% endif %}
    {% for author in authors %}
        <div class="author-card">
            <div class="author-card__inf-panel">
                <p>
                    <span>
                        {{ author.upload_date }} |
                        {% if author.post_author %} {{ author.post_author }} {% endif %}
                    </span>
                    <span>
                        Книг на сайте: {{ author.books.count }}
                    </span>
                    {% if user.id == author.post_author.id %}
                        <span class="user-possibilities">
                            <span class="update-logo">
                                <a href="{% url 'update-author' slug=author.slug %}">
                                    <svg><use href="#edit"></use></svg>
                                </a>
                            </span>
                            <span class="delete-logo">
                                <a href="{% url 'delete-author' slug=author.slug %}">
                                    <svg><use href="#delete-2"></use></svg>
                                </a>
                            </span>
                        </span>
                    {% endif %}
                </p>
            </div>
            <div class="author-card__article">
                <img class="article__photo" src="{{ author.photo.url }}">
                <span class="article__text">
                    <h2>{{ author.full_name }}</h2>
                    <p>{{ author.bio|linebreaks|truncatewords:40 }}</p>
                    <p><a href="{{ author.get_absolute_url }}">Чиать дальше...</a></p>
                </span>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}

{% block navigation %}
    {% include "includes/navigation.html" %}
{% endblock navigation %}