{% extends "base.html" %}
{% load static %}

{% block title %}Авторы{% endblock title %}

{% block style %}
<link type="text/css" href="{% static 'css/author_home_style.css' %}" rel="stylesheet">
{% endblock style %}

{% block content %}
<div class="authors-layout">
    <div class="filters">

    </div>
    <table class="authors">
        <thead>
            <tr>
                <th>Полное имя</th>
                <th>Загруженные книги</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
            <tr>
                <td>
                    <a href="{{ author.get_absolute_url }}">
                        {{ author.full_name }}
                    </a>
                </td>
                <td>{{ author.books.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}