{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block style %}
<link type="text/css" href="{% static 'author/css/author_home_style.css' %}" rel="stylesheet">
{% endblock style %}

{% block content %}
<div class="authors-layout">
    <div class="filters">
        {% comment %}
        <a class="author-form" href="{% url 'add-author' %}">Новая запись</a>
        {% endcomment %}
    </div>
    <div class="authors-list">
    {% for author in authors %}
        <div class="author-card">
            <div class="author-card__inf-panel">
                <p>Книг на сайте: {{ author.books.count }}</p>
            </div>
            <div class="author-card__article">
                <img class="article__photo" src="{{ author.photo.url }}">
                <span class="article__text">
                    <h2>{{ author.full_name }}</h2>
                    <p>{{ author.bio|linebreaks|truncatewords:40 }}</p>
                    <p><a href="{{ author.get_absolute_url }}">Чиать дальше...</a></p>
                </span>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}