.genres-layout {
    margin: 3em;
    display: grid;
    /*grid-template-rows: min-content min-content;*/
}

.genres {
    column-count: 3;
}

.genres a {
    text-decoration: none;
    color: inherit;
}

.genre-tile {
    margin: 1em;
    /*border: solid 1px black;*/
}

.genre-root {
    margin: 0;
    font-size: 2em;
}

.genre-root__content {
    padding: 0.5em;
}

.genre-group {
    margin: 0;
    color: grey;
}

.genre-group__content {
    padding: 0.5em;
}

.genre-general {
    margin: 5px;
}