{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block style %}
<link type="text/css" href="{% static 'home/css/home_style.css' %}" rel="stylesheet">
{% endblock style %}

{% block content %}
<h1>Популярное сейчас:</h1>
<div class="most-popular">
    {% for book in books_mostpop %}
        <span class="most-popular__book-card">
            <img class="most-popular__cover-image" src="{{ book.cover_image.url }}">
            <div class="most-popular__titles">
                <a href="{{ book.get_absolute_url }}">
                    <p class="most-popular__title">
                        {{ book.title|truncatechars:25 }}
                    </p>
                    {% if book.original_title %}
                        <p class="most-popular__original-title">
                            {{ book.original_title|truncatechars:30 }}
                        </p>
                    {% endif %}
                </a>
            </div>
        </span>
    {% endfor %}
</div>
<h1>Случайная книга:</h1>
<div class="rand-book">
    <div class="rand-book__inf-panel">
        <p>
            {{ rand_book.genres.all|slice:":4"|join:", " }}
            {% if rand_book.genres.count > 4 %}
            ...
            {% endif %}
        </p>
    </div>
    <div class="rand-book__article">
        <img class="rand-book__cover-image" src="{{ rand_book.cover_image.url }}">
        <span class="rand-book__text">
            <h2>{{ rand_book.title }}</h2>
            {% if rand_book.original_title %}
                <p class="rand-book__original-title">{{ rand_book.original_title }}</p>
            {% endif %}
            <p>{{ rand_book.description|linebreaks|truncatewords:40 }}</p>
            <p>
                <a href="{{ rand_book.get_absolute_url }}">
                Читать дальше...
                </a>
            </p>
        </span>
    </div>
</div>
{% endblock %}