{% extends "base.html" %}
{% load static %}

{% block title %}
{{ book.title }}
{% endblock title %}

{% block style %}
<link type="text/css" href="{% static 'books/css/book_page_style.css' %}" rel="stylesheet">

{% endblock style %}

{% block content %}
{% include 'includes/icons/icons8-редактировать-50.svg' %}
{% include 'includes/icons/icons8-удалить-50-2.svg' %}
{% include 'includes/icons/icons8-плюс-50.svg' %}

<div class="book-layout">
    <div class="book-layout__book-card">
        {% if user.id == book.user.id %}
            <div class="user-possibilities">
                Это ваша статья:
                <span class="update-logo">
                    <a href="{% url 'edit-book' slug=book.slug %}">
                        <svg><use href="#edit"></use></svg>
                    </a>
                </span>
                <span class="delete-logo">
                    <a href="{% url 'delete-book' slug=book.slug %}">
                        <svg><use href="#delete-2"></use></svg>
                    </a>
                </span>
            </div>
        {% endif %}
        <h1 class="book-card__title">{{ book.title }}</h1>
        <div class="book-card">
            <div class="cover-image">
                <img width="100%" src="{{ book.cover_image.url }}">
            </div>
            <div class="book-information">

                <p><span class="age-rating">{{ book.age_rating.min_age }}+</span></p>

                {% if book.original_title %}
                <h2>Оригинальное название:</h2>
                <p>{{ book.original_title }}</p>
                {% endif %}

                <h2>Авторы:</h2>
                <p>
                    {% for author in book.authors.all %}
                        <span><a href="{{ author.get_absolute_url }}">{{ author.full_name }}</a></span>
                        {% if not forloop.last %}, {% endif %}
                    {% empty %}
                        <span>Автор неизвестен</span>
                    {% endfor %}
                </p>

                <h2>Рейтинг:</h2>
                <p>
                    <span id="score_avg">
                    {{ avg_score }} / 10
                    </span>
                    {% if user.is_authenticated %}
                    <span id="score-container">
                        <a id="score-container__rate-button" href="">Оценить</a>
                        <form id="score-form" style="display: none;">
                            {% csrf_token %}
                            <label for="score"></label><input type="number" id="score" name="score" min="1" max="10" value="{{ user_score }}" />
                            <button id="score-form__button" type="submit">{% if user_score %}Изменить оценку{% else %}Оценить{% endif %}</button>
                        </form>
                    </span>
                    {% endif %}
                </p>

                <h2>Год публикации:</h2>
                <p>{{ book.publication_year }}</p>

                <h2>Описание:</h2>
                <p>{{ book.description|linebreaks|safe }}</p>

                <h2>Жанры:</h2>
                <p>
                    {% for genre in book.genres.all %}
                        <span><a href="{{ genre.get_absolute_url }}">{{ genre.name }}</a></span>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>

                {% for tag in book.tags.all %}
                    {% if forloop.first %}
                        <h2>Теги:</h2>
                        <p>
                    {% endif %}
                    <span><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></span>
                    {% if not forloop.last %}, {% endif %}
                    {% if forloop.last %}
                        </p>
                    {% endif %}
                {% endfor %}

                {% for warning in book.warnings.all %}
                    {% if forloop.first %}
                        <h2>Предупреждения:</h2>
                    {% endif %}

                    <p>❗{{ warning.name }}❗</p>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="book-layout__book-files">
        <table class="book-files">
            <thead>
                <tr>
                    <th>Имя файла</th>
                    <th>Кто загрузил</th>
                    <th>Язык</th>
                    <th>Размер файла</th>
                    <th>Ссылка для скачивания</th>
                </tr>
            </thead>
            <tbody>
                {% for file in book.files.all %}
                <tr>
                    <td>
                        {{ file.book_file.name }}
                        {% if user.id == file.user.id %}
                            <div class="user-file-possibilities">
                                <span class="update-logo">
                                    <a href="{% url 'edit-file' pk=file.pk %}">
                                        <svg><use href="#edit"></use></svg>
                                    </a>
                                </span>
                                <span class="delete-logo">
                                    <a href="{% url 'delete-file' pk=file.pk %}">
                                        <svg><use href="#delete-2"></use></svg>
                                    </a>
                                </span>
                            </div>
                        {% endif %}
                    </td>
                    <td>{{ file.user.username }}</td>
                    <td>{{ file.language }}</td>
                    <td>{{ file.book_file.size|filesizeformat }}</td>
                    <td>
                        <form action="{% url 'file-download' file_id=file.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="download_btn">Скачать</button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                {% endfor %}
                {% if perms.books.add_files %}
                    <tr class="add-file-row">
                        <td colspan="5">
                            <a href="{% url 'add-file' %}?book={{ book.id }}">
                                <svg><use href="#plus"></use></svg>
                            </a>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="book-layout__book-comments">

        {% if user.is_authenticated %}
            <div class="comment-area">
                <form id="comment-form">
                    {% csrf_token %}
                    <input type="hidden" name="book" value="{{ book.id }}">
                    {% for f in comment_form %}
                        <p><label class="form-label" for="{{ f.id_for_label }}"></label>{{ f }}</p>
                        <div class="form-error" >{{ f.errors }}</div>
                    {% endfor %}
                    <button type="submit" style="display: none;"></button>
                </form>

            </div>
        {% else %}
            <div>
            Вы должны быть авторизованны, чтобы оставлять комментарии.
            </div>
        {% endif %}
        <div id="comments-list">
            {% for comment in book.comments.all %}
                <div class="comment">
                    <div class="comment-info">
                        <span class="comment-info__username">
                            {{ comment.user.username }}
                        </span>
                        <span class="comment-info__post-time">
                            {{ comment.post_time|date:"SHORT_DATE_FORMAT" }} {{ comment.post_time|time:"H:i" }}
                        </span>
                        {% if comment.user == user %}
                            <span class="comment-info__delete-comment">
                                <form id="delete-comment-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="comment-id" value="{{ comment.id }}">
                                    <button type="submit">
                                        <svg><use href="#delete-2"></use></svg>
                                    </button>
                                </form>
                            </span>
                        {% endif %}
                    </div>
                    <div class="comment-text">
                        {{ comment.comment|linebreaks }}
                    </div>
                </div>
            {% empty %}
                <div id="empty-comment-string">
                    Здесь пока нет комментариев.
                </div>
            {% endfor %}
        </div>
        <div id="app-config"
             data-add-comment-url="{% url 'reactions:add-book-comment' %}"
             data-delete-comment-url="{% url 'reactions:delete-book-comment' %}"
             data-book-rate-url="{% url 'reactions:book-rate' %}"
             data-book="{{ book.id }}"
             data-csrf-token="{{ csrf_token }}">
        </div>
        <script src="{% static 'books/js/rate_script.js' %}"></script>
        <script src="{% static 'books/js/new_comment_script.js' %}"></script>
        <script src="{% static 'books/js/delete_comment_script.js' %}"></script>
        <script src="{% static 'books/js/comment_form_enter_submit.js' %}"></script>
    </div>
</div>
{% endblock content %}