{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block style %}
    <link type="text/css" href="{% static 'css/navigation_style.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'books/css/books_home_style.css' %}" rel="stylesheet">
{% endblock style %}

{% block content %}
<div class="body-layout">
    <aside class="side-panel">
        <form method="GET">
            {{ filter.form.as_div }}
            <input class="filter-submit-button" type="submit" value="Применить">
        </form>
    </aside>
    <main class="books-list">
        {% for book in books %}
            <div class="book-card">
                <a href="{{ book.get_absolute_url }}">
                    <img class="book-card__cover-image" src="{{ book.cover_image.url }}">
                </a>

                <span class="book-card__titles">
                    <a href="{{ book.get_absolute_url }}">
                        <p class="title">{{ book.title }}</p>
                        {% if book.original_title %}
                        <p class="original-title">
                            {{ book.original_title }}
                        </p>
                        {% endif %}
                    </a>
                </span>
            </div>
        {% endfor %}
    </main>
</div>
{% endblock %}

{% block navigation %}
    {% include "includes/navigation.html" %}
{% endblock navigation %}