{% extends "base.html" %}
{% load static %}

{% block title %}Книги{% endblock %}

{% block head %}
<link type="text/css" href="{% static 'css/books_home_style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<table>
    {% for book in books %}
    <tr>
        <td>
            <a href="{{ book.get_absolute_url }}">
                {{ book.title }}
            </a>
        </td>
        {% if book.original_title %}
        <td>
            {{ book.original_title }}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}