{% extends "base.html" %}
{% load static %}

{% block title %}Книги{% endblock %}

{% block style %}
<link type="text/css" href="{% static 'css/books_home_style.css' %}" rel="stylesheet">
{% endblock style %}

{% block content %}
<div class="body-layout">
    <div class="filters">

    </div>
    <table class="books">
        <thead>
            <tr>
                <th>Название книги</th>
                <th>Оригинальное название</th>
                <th>Автор</th>
                <th>Количество просмотров</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>

                <td>
                    <a href="{{ book.get_absolute_url }}">
                        {{ book.title }}
                    </a>
                </td>
                <td>
                    {% if book.original_title %}
                        {{ book.original_title }}
                    {% else %}
                        Нет
                    {% endif %}
                </td>
                <td>
                    {{% for author in book.authors.all %}
                    {{ author.full_name }}
                    {% endfor %}}
                </td>
                <td>
                    {{ book.views_count }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}