.authors-layout {
    margin: 3em;
    display: grid;
    grid-template-rows: min-content min-content;
}

.authors-list {
    margin: 0 4em;
}

.author-card {
    margin: 2em 0;
}

.add-author-card {
    justify-content: center;
    display: flex;
}

.author-card__inf-panel {
    background-color: lightgray;
    padding: 0.5em 1em;
}

.author-card__inf-panel p {
    margin: 0;
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    white-space: nowrap;
}

.author-card__article {
    display: grid;
    grid-template-columns: min-content 1fr;
}

.article__photo {
    width: 10em;
}

.article__text {
    margin: 0 2em;
}

.user-possibilities {
    /*display: flex;*/
    /*margin: 0 0 0 auto;*/
    /*justify-content: flex-end;*/
    text-align: right;
}

.update-logo svg {
    width: 1em;
    height: 1em;
}

.delete-logo svg {
    width: 1em;
    height: 1em;
}