.authors-layout {
    margin: 3em;
    display: grid;
    grid-template-rows: min-content min-content;
}

.filters {
}

.authors-list {
    margin: 0 4em;
}

.author-card {
    margin: 2em 0;
}

.author-card__inf-panel {
    background-color: lightgray;
    padding: 0.5em 1em;
}

.author-card__inf-panel p {
    margin: 0;
}

.author-card__article {
    display: grid;
    grid-template-columns: min-content 1fr;
}

.article__photo {
    width: 10em;
}

.article__text {
    margin: 0 2em;
}