.authors-layout {
    margin: 3em;
    display: grid;
    grid-template-rows: min-content min-content;
}

.filters {
}

.authors {
    width: 100%;
    margin 1em;
    border-collapse: collapse;
    text-align: center;
}

.authors th {
    padding: 0.5em;
    background-color: lightblue;
}

.authors td {
    padding: 0.5em;
}

.authors tbody tr:nth-child(odd) {
    background-color: white;
}

.authors tbody tr:nth-child(even) {
    background-color: lightblue;
}

.author-form {
    background-color: black;
    color: white;
    border-radius: 1em;
}